<div id="<%= dom_id coordinate %>">
  <p>
    <strong>Lat:</strong>
    <%= coordinate.lat %>
  </p>

  <p>
    <strong>Long:</strong>
    <%= coordinate.long %>
  </p>

  <p>
    <strong>Sighting:</strong>
    <%= coordinate.sighting_id %>
  </p>

</div>
