<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="btn-group">
  <%= link_to "Sightings", sightings_path, class: "btn btn-primary" %>
  <%= link_to "New Sighting", new_sighting_path, class: "btn btn-secondary" %>
  <%= link_to "Ufos", ufos_path, class: "btn btn-primary" %>
  <%= link_to "New Ufo", new_ufo_path, class: "btn btn-secondary" %>
</div>
